<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Omzit Admin - Detections</title>

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', path='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', path='css/sb-admin-2.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{{ url_for('static', path='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', path='/css/photo-modal.css') }}" rel="stylesheet" type="text/css">

</head>

<body id="page-top">
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <a href="{{ url_for('get_sources') }}" class="btn btn-primary">Sources</a>
        </nav>


        <!-- Begin Page Content -->
        <div class="container-fluid">
            <button class="btn btn-primary mb-4 ml-4" id="exportExcelBtn">Export To Excel</button>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Detections</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>Name</th>
                                <!--                                <th>Department</th>-->
                                <th>Datetime</th>
                                <th>Photo</th>
                                <th>Source</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>id</th>
                                <th>Name</th>
                                <!--                                <th>Department</th>-->
                                <th>Datetime</th>
                                <th>Photo</th>
                                <th>Source</th>
                            </tr>
                            </tfoot>
                        </table>
                        <!-- The Modal -->
                        <div id="myModal" class="photo-modal">

                            <!-- The Close Button -->
                            <span class="close">&times;</span>

                            <!-- Modal Content (The Image) -->
                            <img class="photo-modal-content" id="img01">

                            <!-- Modal Caption (Image Text) -->
                            <div id="caption"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.container-fluid -->
<script src="{{ url_for('static', path='js/records.js') }}"></script>
<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', path='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', path='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ url_for('static', path='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static', path='js/sb-admin-2.min.js') }}"></script>

<!-- Page level plugins -->
<script src="{{ url_for('static', path='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', path='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', path='js/demo/datatables-demo.js') }}"></script>
<script src="{{ url_for('static', path='js/photo-modal.js') }}"></script>


</body>

</html>